/*table, th, td {*/
/*    border: 1px solid black;*/
/*    border-collapse: collapse;*/
/*    padding: 8px;*/
/*}*/

/*.main_h1 {*/

/*}*/

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.main-title {
    text-align: center;
    margin-bottom: 10px;
}

.separator {
    border: 1px solid black;
    margin: 20px 0;
}

.notes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.note-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-basis: calc(33.333% - 20px);
    box-sizing: border-box;
}

.note-card h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.strike-through {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.note-card p {
    margin: 0;
}